<p-table
    [value]="rows"
    responsiveLayout="scroll"
    dataKey="name"
    [paginator]="true"
    [rows]="5"
    (onEditComplete)="onEditComplete($event)"
>
  <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
          <h1>Anime Interface</h1>
          <p-button icon="pi pi-refresh" (onClick)="getData()"></p-button>
      </div>
  </ng-template>
  <ng-template pTemplate="header">
      <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Broadcast Day</th>
          <th>Episodes Watched / Downloaded</th>
          <th style="width:4rem"></th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-anime>
      <tr>
          <td>{{anime.name}}</td>
          <td pEditableColumn [pEditableColumn]="anime">
            <p-cellEditor>
                <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="anime.description">
                </ng-template>
                <ng-template pTemplate="output">
                    {{anime.description}}
                </ng-template>
            </p-cellEditor>
          <td pEditableColumn [pEditableColumn]="anime">
            <p-cellEditor>
                <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="anime.broadcast">
                </ng-template>
                <ng-template pTemplate="output">
                    {{anime.broadcast}}
                </ng-template>
            </p-cellEditor>
        </td>
          <td>{{anime.watched.length}} / {{anime.episodes.length}}</td>
          <td>
            <button type="button" class="p-button-rounded" pButton pRipple icon="pi pi-list" (click)="selectAnime(anime)"></button>
        </td>
      </tr>
  </ng-template>
  <!-- <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
          In total there are {{rows ? rows.length : 0 }} anime downloaded.
      </div>
  </ng-template> -->
</p-table>

<p-dialog header="{{selectedAnime.name}}" [(visible)]="displayDialog" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <p-table [value]="selectedAnime.episodes" responsiveLayout="scroll" dataKey="name">
      <ng-template pTemplate="header">
          <tr>
              <th>Episode</th>
              <th>Watch</th>
              <th>Watched?</th>
              <th>Delete</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-ep>
        <tr>
            <td>{{ep}}</td>
            <td><button type="button" class="p-button-rounded" pButton pRipple icon="pi pi-play" (click)="watchEp(ep)"></button></td>
            <td>
              <p-checkbox value="ep" [value]="ep" [(ngModel)]="selectedAnime.watched" [inputId]="isEpWatched(ep)" (onChange)="markEpWatched(ep)"></p-checkbox>
            </td>
            <td><button type="button" class="p-button-rounded p-button-danger" pButton pRipple icon="pi pi-trash" (click)="deleteEp(ep)"></button></td>
        </tr>
    </ng-template>
    </p-table>


    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayDialog=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>